<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReadLine</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar bg-warning" style="--bs-bg-opacity: .1;">
        <div class="container-fluid">
            <span class="navbar-brand">ReadLine</span>
        </div>
    </nav>
    <div class="rounded-10">
        @RenderBody()
    </div>
</body>
</html>