<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ReadLine</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <base href="~/" />
</head>
<body style="background: #f0ebe5;">
    <div class="container-fluid" style="padding: 0">
        <div>
            <nav class="navbar">
                <div class="container-fluid" style="height: 70px;">
                    <a href="/Home/Index" class="navbar-brand position-absolute top-50 start-50 translate-middle">
                        <img class="position-absolute top-50 start-50 translate-middle" src="/img/brand_bg_img.png" style="height: 100px; width: 360px" />
                        <span class="fs-1 position-absolute top-50 start-50 translate-middle">ReadLine</span>
                    </a>
                    <a href="/Profile/Index" class="navbar-brand position-absolute top-50 end-0 translate-middle-y">
                        <img src="/img/profile_btn_img.png" style="height: 40px; width: 40px; margin-right: 70px;" />
                    </a>
                </div>
            </nav>
        </div>
        
        <div class="rounded-top-5 bg-light shadow-lg" style="margin-top: 20px; min-height: 800px;">
            <div  style="margin-inline: 70px 70px;">
                @RenderBody()
            </div>
        </div>
        <script src="_framework/blazor.server.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </div>
</body>
</html>