@model ProfileViewModel

@if (Model.IsAuthenticated)
{
   <component type="typeof(ReadLine.Blazor.Profile)" render-mode="Static" />
} else
{
    <div class="text-center" style="padding: 50px;">
        <p>Вы не авторизованы</p>
        <a class="btn btn-secondary" href="@Url.Action("","Login")">Авторизоваться</a>
    </div>
}