@using ReadLine.Models
@model IEnumerable<Book>

<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" />
    <title >ReadLine</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    </head>
<body style="background-color: beige;">
        <div>
            <div class="row" style="align-content: center;">
                <h1 style="align-content: center; background-color: beige;">ReadLine</h1>
            </div>
            <div style="background-color: white">
                @for(int i = 0; i < (Model.Count()/4)+1; i++)
                {
                    <div class="row">
                        @foreach(var b in Model.Skip(i).Take(4))
                        {
                            <div class="col-md-4">
                                <h3>@b.Title</h3>
                                <p>@b.PagesCount стр.</p>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </body>
</html>