<div>
    <h2>Модерация. Добавление книги.</h2>
    <form>
    <ul>
        <li>
            <p>Название</p>
            <input />
        </li>
        <li>
            <p>Автор</p>
        </li>
        <li>
            <p>Сообщение от пользователя</p>
        </li>
        <li>
            <p>Обложка</p>
        </li>
        <li>
            <p>Описание</p>
        </li>
        <li>
            <p>Издательство</p>
        </li>
        <li>
            <p>Год выпуска</p>
        </li>
        <li>
            <p>Возрастное ограничение</p>
        </li>
        <li>
            <p>Количество страниц</p>
        </li>
    </ul>
    <button>Добавить</button>
    <button>Отклонить</button>
    </form>
</div>